.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 23, 24);
    padding: 1rem;
}
.faqs{
    width: 50rem;
    max-width: 100%;
    background-color: azure;
    padding: 1rem;
    border-radius: 0.5rem;
}
h1{
    text-align: center;
}